<head>
    <meta charset="utf-8">

    <!-- General -->
    <title>Momento Mori</title>
    <meta author="Andrew Menzer & Matt Lewis" />
    <meta name="description" content="Life Expectancy/Anti-Procrastination Tool" />
    <meta name="url" content="" />
    <meta name="robots" content="index, follow" />

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Open Graph -->
    <meta property="og:title" content="Momento Mori" />
    <meta property="og:description" content="Life Expentancy/Anti-Procrastination Tool" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <!-- Styyyle -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>
