<head>
    <meta charset="utf-8">

    <!-- General -->
    <title>Momento Mori</title>
    <meta author="Andrew Menzer & Matt Lewis" />
    <meta name="description" content="Life Expectancy/Anti-Procrastination Tool" />
    <meta name="url" content="" />
    <meta name="robots" content="index, follow" />

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <!-- Open Graph -->
    <meta property="og:title" content="Momento Mori" />
    <meta property="og:description" content="Life Expentancy/Anti-Procrastination Tool" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <!-- Apple/Safari/IOS -->
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#003366">

    <!-- Microsoft -->
    <meta name="msapplication-TileColor" content="#2b5797" />

    <!-- Styyyle -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">


    <meta name="theme-color" content="#ffffff">
</head>
