<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    <body>
        <header>
            <h1><a class="home-link" href="{{ url_for('index')}}">Momento Mori</a></h1>
            <h3><i> An Anti-Procrastination App</i></h3>
        </header>

        {% block body %}
        <!-- Content gets served here -->
        {% endblock %}

        <footer class="credits">
            <p>
                Made by
                <a href="https://github.com/MenzerInternational">Andrew Menzer</a>
                &amp;
                <a href="http://mattmatters.io">Matt Lewis</a>
            </p>
            <div class="social">
                <a href="https://github.com/MenzerInternation/MomentoMori">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </footer>
    </body>
</html>
